<div class="row" ng-style="{opacity: vm.show}">
    <div class="container" ng-show="vm.show">
        <div class="container-fluid">

            <fieldset class="form-group">
                <legend>{{vm.title}}</legend>
                <!-- Form de Adicionar Ocorrido -->
                <form>
                    <div class="col-lg-12 form-group">
                        <div class="col-lg-6">
                            <label for="localOcorrido">Onde foi?</label>
                            <input ng-model="data.Local" type="text" class="form-control" id="Local" aria-describedby="localHelp" placeholder="Diga em qual lugar aconteceu" autofocus>
                            <small id="localHelp" class="form-text text-muted">Diga o nome do lugar onde aconteceu, é uma maneira para você lembrar no futuro :)</small>
                        </div>
                        <div class="col-lg-3">
                            <label for="Data">Quando?</label>
                            <input ng-model="data.Data" type="date" class="form-control" id="Data">
                        </div>
                        <div class="col-lg-3">
                            <label for="valorTotal">Qual valor você pagou?</label>
                            <input ng-model="data.ValorTotal" type="text" class="form-control" id="ValorTotal" ui-money-mask>
                        </div>
                    </div>
                    <div class="col-lg-12 form-group">
                        <div class="col-lg-12">
                            <label for="Descricao">Fale uma pequena descrição</label>
                            <textarea ng-model="data.Descricao" class="form-control" id="Descricao"></textarea>
                        </div>
                    </div>
                                     
                    <button ng-click="vm.adicionarDivida(data)" type="submit" class="btn btn-primary">Salvar</button>
                </form>
            </fieldset>
        </div> 
    </div>
</div>

