<div class="row">
    <div class="container">
        <div class="container-fluid">
            <h2 class="page-header">{{vm.title}}</h2>
            
            <!-- Form de Adicionar Ocorrido -->
            <form ng-submit="vm.addOcorrido()">
                <div class="col-lg-12 form-group">
                    <div class="col-lg-6">
                        <label for="localOcorrido">Onde foi?</label>
                        <input type="text"class="form-control" id="localOcorrido" aria-describedby="localHelp" placeholder="Diga em qual lugar aconteceu"  autofocus>
                        <small id="localHelp" class="form-text text-muted">Diga o nome do lugar onde aconteceu, é uma maneira para você lembrar no futuro :)</small>
                    </div>
                    <div class="col-lg-3">
                        <label for="dataOcorrido">Quando?</label>
                        <input type="date" class="form-control" id="dataOcorrido">
                    </div>
                    <div class="col-lg-3">
                        <label for="valorOcorrido">Qual valor você pagou?</label>
                        <input type="text" class="form-control" id="valorOcorrido">
                    </div>
                </div>
                <div class="col-lg-12 form-group">
                    <div class="col-lg-12">
                        <label for="descricaoOcorrido">Fale uma pequena descrição</label>
                        <textarea class="form-control" id="descricaoOcorrido"></textarea>
                    </div>
                </div>
                <div class="col-lg-12 form-group">
                    <div class="col-lg-12">
                        <fieldset class="form-group">
                            <legend>Quem está te devendo:</legend>
                            <div ng-repeat="pessoa in vm.pessoas">
                                <div class="form-group">
                                    <div class="col-lg-9">
                                        <input type="text" class="form-control" id="valorOcorrido" placeholder="Nome" ng-model="pessoa.nome">
                                    </div>
                                    <div class="col-lg-3">
                                        <input type="text" class="form-control" id="valorOcorrido" placeholder="Valor" ng-model="pessoa.valor">
                                    </div>
                                </div>

                                {{vm.pessoas}}
                            </div>
                            <div class="col-lg-12">                                
                                <a class="btn btn-success" ng-click="vm.addPessoa()"><span class="glyphicon glyphicon-plus-sign"></span> Nova pessoa</a>
                            </div>

                        </fieldset>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </form>
        </div> 
    </div>
</div>

