
<div class="row" ng-style="{opacity: vm.show}">
    <div class="container" ng-show="vm.show">
        <div class="container-fluid">
            <div class="col-lg-12">
                <div class="row left-right">
                    <div class="col-sm-12">
                        <a class="btn btn-large btn-default" ui-sref="home.buscar.divida"><i class="glyphicon glyphicon-search"></i> Ocorridos</a>
                        <a class="btn btn-large btn-default" ui-sref="home.buscar.pessoa"><i class="glyphicon glyphicon-search"></i> Pessoas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<ui-view></ui-view>

