<div class="row">
    <div class="col-sm-12">
        <!-- Header -->
        <div class="jumbotron">
            <h2>{{vm.title}}</h2>
            <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <div class="row text-right">
                <div class="col-sm-12">
                    <a class="btn btn-large btn-success" ui-sref="home.adicionar"><i class="glyphicon glyphicon-plus"></i> Adicionar</a>
                    <a class="btn btn-large btn-default" ui-sref="home.buscar"><i class="glyphicon glyphicon-search"></i> Buscar</a>
                    <a class="btn btn-large btn-danger" ui-sref="home.pagar"><i class="glyphicon glyphicon-check"></i> Pagar</a>
                </div>
            </div>
        </div>
        <!-- /Header -->
    <hr />
    </div>
</div>


<ui-view></ui-view>