<div class="row">
    <div class="col-sm-12">
        <!-- Header -->
        <div class="jumbotron">
            <h2>{{vm.title}}</h2>
            <p class="lead">CLorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</p>
            <div class="row text-right">
                <div class="col-sm-12">
                    <a class="btn btn-large btn-success" ui-sref="home.adicionar"><i class="glyphicon glyphicon-plus"></i> Adicionar</a>
                    <a class="btn btn-large btn-default" ui-sref="home.buscar"><i class="glyphicon glyphicon-search"></i> Buscar</a>
                    <a class="btn btn-large btn-danger" ui-sref="home.pagar"><i class="glyphicon glyphicon-check"></i> Pagar</a>
                </div>
            </div>
        </div>
        <!-- /Header -->
    <hr />
    </div>
</div>


<ui-view></ui-view>