<div class="row" ng-style="{opacity: vm.show}">
    <div class="container" ng-show="vm.show">
        <div class="container-fluid">

            <fieldset class="form-group">
                <legend>{{vm.title}}</legend>
                <!-- Form de Adicionar Pessoas ao Ocorrido -->
                <form>
                    <div class="col-lg-12 form-group">
                        <div class="col-lg-12">
                            <div ng-repeat="pessoa in vm.pessoas">
                                <div class="form-group">
                                    <div class="col-lg-3">
                                        <input type="text" class="form-control" id="Nome" placeholder="Nome" ng-model="pessoa.Nome">
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="Sobrenome" placeholder="Sobrenome" ng-model="pessoa.Sobrenome">
                                    </div>
                                    <div class="col-lg-2">
                                        <input type="text" class="form-control" id="ValorPago" placeholder="Valor Pago" ng-model="pessoa.ValorPago">
                                    </div>

                                    <div class="col-lg-1">
                                        <button class="btn btn-danger" id="removerPessoa" ng-click="vm.removerPessoa()"><span class="glyphicon glyphicon-remove"></span></button>
                                    </div>
                                </div>
                                {{vm.pessoas}}
                                <div class="col-lg-12 form-group">
                                    <a class="btn btn-success" ng-click="vm.addPessoa()"><span class="glyphicon glyphicon-plus-sign"></span> Nova pessoa</a>
                                </div>  
                            </div>
                        </div>
                    </div>
                    <button ng-click="vm.adicionarPessoa(pessoa)" type="submit" class="btn btn-primary">Salvar</button>
                </form>
            </fieldset>
        </div>
    </div>
</div>

